<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqlite_demo_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".MyContentProvider_Author"
            android:authorities="author"
            android:enabled="true"
            android:exported="true"
            android:readPermission="author.READ_DATABASE"
            android:writePermission="author.WRITE_DATABASE" />

        <provider
            android:name=".MyContentProvider_Book"
            android:authorities="book"
            android:enabled="true"
            android:exported="true"
            android:readPermission="book.READ_DATABASE"
            android:writePermission="book.WRITE_DATABASE" />

        <activity android:name=".SearchActivity" />
        <activity android:name=".AuthorActivity" />
        <activity android:name=".BookActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>